# MacOs files
.DS_Store
._*
# Visual Studio files
*.code-workspace
.vscode
# NodeJS
package-lock.json
node_modules/
.env

# App
data/*
src/config/env/*
!src/config/env/template.env
!src/config/env/.placeholder